body{
    background-color:white;
    font-weight: bold
}

.all{
    background-color:white;

}

.e_meu{
    text-align: center;
    background-color:black;
    color:white
}

p{
    font-size:xx-large;
    color:black
}

li{
    font-size: xx-large;
    list-style: none;
    color:black
}