.e_meu{
    text-align: center;
    color: white;
    background-color:black
}

.all{
    background-color:white
}

.Academia2{
    position: absolute;
    top: 850px;
    left: 700px;
    width: 675px;
}